.html {
  font-size: 87.5%;
  scroll-behavior: smooth;
}

.body {
  position: relative;
  font-family: "Montserrat";
  background-color: rgb(240, 240, 240);
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.appwidth {
  width: 85.7%;
  max-width: 88.1485714rem;
  margin: auto;
}

:root {
  --font-size: 0.875rem;
}

/* @font-face {
  font-family: Montserrat;
  src: local(Montserrat-Regular),
    url(/path/to/Montserrat-Regular.woff2) format("woff2"),
    url(/path/to/Montserrat-Regular.woff) format("woff"),
    url(/path/to/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Montserrat;
  src: local(Montserrat-Bold),
    url(/path/to/Montserrat-Bold.woff2) format("woff2"),
    url(/path/to/Montserrat-Bold.woff) format("woff"),
    url(/path/to/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: RobotoSlab;
  src: local(RobotoSlab-Light),
    url(/path/to/RobotoSlab-Light.woff2) format("woff2"),
    url(/path/to/RobotoSlab-Light.woff) format("woff"),
    url(/path/to/RobotoSlab-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: RobotoSlab;
  src: local(RobotoSlab-Bold),
    url(/path/to/RobotoSlab-Bold.woff2) format("woff2"),
    url(/path/to/RobotoSlab-Bold.woff) format("woff"),
    url(/path/to/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-5 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.Text-Style-4 {
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.Text-Style-2 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}
.Text-Style-6 {
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
}

.Text-Style {
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}

.Text-Style-3 {
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
} */